#
# Exclude files from exporting
#

/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.gitlab-ci.yml     export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
